
/* General */
.flex-container {
    display: flex;
}

.input-box {
    display: block;
    height: 40px;
    width: 200px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding-left: 10px;
    margin: 1px;
    margin-bottom: 5px;
}
.underlined {
    text-decoration: underline;
}

.input-box[type=date] {
    width: 120px;
}
.input-box[type=date]:focus {
    width: 122px;
}

.input-box:focus {
    outline: none;
    border: 3px solid rgb(176, 217, 255);
    box-shadow: 2px 2px 5px 2px rgba(214, 214, 214, 0.493);
    height: 42px;
    width: 202px;
    margin: 0;
    margin-bottom: 4px;
    transition: 0.1s;
}

.textarea {
    margin: 1px;
    height: 80px;
    width: 250px;
    padding: 5px;
    
}

.textarea:focus {
    margin: 0;
    height: 82px;
    width: 252px;
}

.currency-wrap {
    position: relative;
}

.currency-sign {
    position: absolute;
    left: 8px;
    margin: 0;
    top: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.9em;
}

.input-box-label {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-left: 5px;
}

.button {
    outline: none;
    border: none;
    background-color: rgb(74, 166, 253);
    width: 100px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 1px;
    margin-bottom: 15px;
}
.button:hover {
    padding: 6px;
    padding-left: 11px;
    padding-right: 11px;
    width: 102px;
    margin: 0;
    margin-bottom: 14px;
    background-color: rgb(23, 142, 253);
    box-shadow: 2px 2px 5px 2px rgba(214, 214, 214, 0.493);
    transition: 0.2s;


}

.edit-button {
    outline: none;
    border: none;
    background-color: rgb(74, 166, 253);
    width: 40px;
    padding: 1px;
    border-radius: 3px;
    margin: 1px;
    margin-left: 10px;
}


.edit-button:hover {
    padding: 2px;
    width: 42px;
    margin: 0;
    margin-left: 9px;
    background-color: rgb(23, 142, 253);
    box-shadow: 2px 2px 5px 2px rgba(214, 214, 214, 0.493);
    transition: 0.2s;
}

table, th, td {
    border: 2px solid rgb(176, 217, 255);
    border-collapse: collapse;
}

.totals-td {
    background-color: rgb(230, 230, 230);
}

.checkbox-container {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

.checkbox {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.display-inline {
    display: inline;
}

/* Dashboard */
#unpaid-orders-table {
    width: calc(50% - 15px);
}

#unpaid-orders-table, td {
    text-align: center;
}

/* View Orders */
#search-orders-button {
    padding:5px;
    width: 70px;
    height: 40px;
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 23px;
    display: inline;
}

#table-container th, td {
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

#search-fields-container {
    flex-wrap: wrap;
}

/* Add Order */
#add-order-save-btn {
    margin-top: 10px;
}

#standing-order-fields {
    display: none;
}

#standing-order-checkbox-container {
    margin-bottom: 5px;
}

#add-order-container-right {
    margin-left: 15px;
    margin-top: 26px;
}

/* Add Bread  */
#bread-types-qty-input li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bread-types-list li {
    list-style-type: none;
}

.saved-bread-list-title {
    margin-top: 10px;
}

#bread-type-retail-price {
    padding-left: 15px;
}

#bread-type-trade-price {
    padding-left: 15px;
}